<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kele.core.buz.doc.dao.mapper.GroupMemberMapper">
    <resultMap id="BaseResultMap" type="com.kele.core.buz.doc.dao.entity.GroupMember">
        <id column="group_id" property="groupId"/>
        <result column="user_id" property="userId"/>
        <result column="joined_at" property="joinedAt"/>
    </resultMap>
</mapper>
